<% provide :title, "Email清單" %>

<h1>Email清單</h1>

<div class="col-sm-12" style="padding: 0 10px;">
  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <td>選項</td>
        <td>姓名/暱稱</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
      <% @subscribes.each do |subscribe| %>
      <tr>
        <td><%= link_to "刪除", subscribe_path(subscribe), method: "delete", data: {confirm: "確認刪除？"} %></td>
        <td><%= subscribe.name %></td>
        <td><%= subscribe.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-show-export="true" data-detail-view="true" data-detail-formatter="detailFormatter" data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]" data-show-footer="false" data-side-pagination="server" data-url="/examples/bootstrap_table/data" data-response-handler="responseHandler">
  </table>

</div>


