<% provide :title, "Lv. 5 - 全端挑戰" %>

<center>
  <font size="+1">
	  <table class='table'>
		  <tr><td>你好! 新朋友</td></tr>
		  <tr><td>請先<%= link_to "註冊帳號", "/site01/new" %>，才能使用本站的完整功能：）</td></tr></table>

  </font>
</center>
