<html>
  <head>
    <title>Lv.2 HW</title>
  </head>
  <body>
    <p>
      <font size="+2">
        <strong><center>Hello World!</center></strong>
      </font>
    </p>
    <p>
      <%= link_to "Home", root_path %>
    </p>
  </body>
</html>
